{% load i18n %}
{% load navactive %}
{% load auth_notifications %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        {% include 'allianceauth/icons.html' %}

        <title>{% block title %}{% block page_title %}{% endblock page_title %} - {{ SITE_NAME }}{% endblock title %}</title>

        {% include 'bundles/bootstrap-css.html' %}
        {% include 'bundles/fontawesome.html' %}
        {% include 'bundles/auth-base-css.html' %}

        {% block extra_css %}{% endblock extra_css %}
        {% if NIGHT_MODE %}
        <link rel="stylesheet" href="{% static 'aa_theme_xix/css/dashboard-dark.css' %}?v=1">
        {% else %}
        <link rel="stylesheet" href="{% static 'aa_theme_xix/css/dashboard-light.css' %}?v=1">
        {% endif %}
    </head>

    <body class="{% if NIGHT_MODE %}template-dark-mode{% else %}template-light-mode{% endif %}">
        {% if user.is_authenticated %}
            <div id="wrapper" class="container">
                <!-- Navigation -->
                {% include 'allianceauth/top-menu.html' %}
                <div class="row" id="site-body-wrapper">
                    {% include 'allianceauth/side-menu.html' %}
                    <div class="col-sm-10">
                        {% include 'allianceauth/messages.html' %}
                        {% block content %}
                        {% endblock content %}
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        {% endif %}

        {% include 'bundles/bootstrap-js.html' %}
        {% include 'bundles/jquery-visibility-js.html' %}

        <script>
            let notificationUPdateSettings = {
                notificationsListViewUrl: "{% url 'notifications:list' %}",
                notificationsRefreshTime: "{% notifications_refresh_time %}",
                userNotificationsCountViewUrl: "{% url 'notifications:user_notifications_count' request.user.pk %}"
            };
        </script>
        {% include 'bundles/refresh-notifications-js.html' %}
        {% include 'bundles/evetime-js.html' %}

        {% block extra_javascript %}
        {% endblock extra_javascript %}
        <script>
            {% block extra_script %}
            {% endblock extra_script %}
        </script>
    </body>
</html>
