{% load i18n %}
{% load navactive %}
{% load menu_items %}

<div class="col-sm-2 auth-side-navbar" role="navigation">
    <div class="collapse navbar-collapse auth-menus-collapse auth-side-navbar-collapse">
        <ul class="nav nav-pills nav-stacked gray-icon-color" id="side-menu">
            <li>
                <a href="https://fire-coalition.space" target="_blank">
                    <i class="fas fa-fire fa-fw"></i> FI.RE
                </a>
            </li>
            <li>
                <a class="{% navactive request 'authentication:dashboard' %}" href="{% url 'authentication:dashboard' %}">
                    <i class="fas fa-tachometer-alt fa-fw"></i> {% translate "Dashboard" %}
                </a>
            </li>
            <li>
                <a class="{% navactive request 'groupmanagement:groups' %}" href="{% url 'groupmanagement:groups' %}">
                    <i class="fas fa-users fa-fw"></i> {% translate "Groups" %}
                </a>
            </li>

            {% menu_items %}
        </ul>
    </div>
</div>
