@import 'variables';
@import 'extends';
@import 'mixins';

body {
    background: url('../img/login-page-bg1.jpg') no-repeat center center fixed;
    background-size: cover;
    color: $color_argent;
}

a {
    text-decoration: underline;
    &,
    &:hover,
    &:visited {
        color: $color_ue_red;
    }
    &:hover {
        text-decoration: none;
    }
}

.w-content {
    margin-top: 150px;
}

.panel-xix {
    background:
        url('../img/android-chrome-192x192.png') no-repeat center 20px,
        radial-gradient(circle, rgba($color_smoky_black, .6) 30%, rgba($color_black, 0) 100%);
    padding: 220px 0 21px 0;
    border: none;
}

#lang-select {
    width: 160px;
    margin: 0 auto;
}

.w-footer {
    position: absolute;
    bottom: 0;
    left: 0;
}

.info-ccp {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    > li {
        margin: 0 10px 10px 0;
        &:last-child {
            margin: 0 0 10px 0;
        }
    }
}
